<div class="jumbotron center">

  <h1>Bienvenido a nuestra aplicación usando Ruby on Rails</h1>
  
  <p><%= link_to "Iniciar sesión","#", class: 'btn btn-success btn-lg' %>
  
  <%= link_to "Regístrate","https://www.oja.la", class: 'btn btn-primary btn-lg' %>
  </p>
</div>
